/*------------------------common styles-----------------*/

body{
    font-family: 'Poppins', sans-serif;
}

/*---------------header section-----------------*/

#top-sec{
    width: 100%;
    background-image: url(pictures/banner/field.png);
    background-repeat: no-repeat;
    background-size: 1330px 500px;
    opacity: 0.8;
}

#top-sec-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: space-between;
    margin-left: 100px;
}
#title-div{
    
}
#top-sec-title{
    color:#BFAD33 ;
    font-size: 62px;
    font-weight: 700;
    animation: text 3 5s;
    animation-delay: 1s;

}
#button{
    color: white;
    font-size: 16;
    padding: 15px;
    text-decoration: none;
    background-image: linear-gradient(rgb(245, 53, 19),#770b0b);
}
/*-------------------hover--------------*/
#button:hover{
    color: black;
    background-color: rgb(245, 159, 144);
    box-shadow: 0 0 10px #FA401F, 0 0 10px #FA401F, 0 0 10px #FA401F;
    transition: 1s;
    border-radius: 5px;
}

/*----------------animation-----------------*/

@keyframes text{
    0%{ 
        letter-spacing: 6px;
        color: rgb(9, 226, 9);
        margin-top: -10px;

    }
    25%{
        letter-spacing: 12px;
        color:cornflowerblue;
        margin-top: -20px;

        }

    50%{
        letter-spacing: 14px;
        color: rgb(12, 196, 252);
        margin-top: -25px;


        }
    75%{
        letter-spacing: 12px;
        color: white;
        margin-top: -20px;


        }
    100%{
        letter-spacing: 6px;
        color: yellow;
        margin-top: -10px;


        }
}

.top-sec-img{
    transition: transform 0.5s;

}
#top-sec:hover .top-sec-img{
    transform: translate(-30px,-40px);
    transform-origin: 10 0;
}


/*----------------------------------/
/*-------main section--------------*/
/*----------------------------------*/

/*---------main section 1 ----------*/
#container{
    width: 1320px;
    height: 1570px;
    justify-content: center;
    margin-top: 35px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: space-around;
    grid-row-gap:30px;
    margin-left: 111px;
    margin-right: 90px;
    margin-top: 18px;
    
}
.player{
    box-shadow: 10px 13px 48px lightgray;
    width:330px ;
    height:474px;
   
}
.player-pic img{
    padding: 15px;
    width: 300px;
    height: 256px;
    
}
.player-name{
    padding: 15px;
    margin: 0;
    font-size: 28;
    color: #18191f;
    font-weight: bold;

}
.player-details{
    padding: 15px;
    margin-bottom: 20px;
    height: 104px;
    margin: 0px;
    font-size:16px ;
    font-weight:regular ;
    color: #6c6c6c;

}

/*---------main section 2 ----------*/

#sec2{
    border:none;
}
#extra-sec{
    display: flex;
    column-gap: 100px;
    margin-top: 5px;
    
}
#extra-sec:hover{
    box-shadow:8px 8px 8px 8px lightgray ;
}
.sec-2-cmn{
    margin-left: 100px;
}
#video{
    margin-bottom: 40px;
}
.sec-2-cmn h2{
    height: 80px;
    width: 400px;
    color: white;
    font-weight: 700;
    padding: 70px 20px 35px 20px;
    margin-top: 100px;
    border-radius: 0 15px;
    background-image: linear-gradient(rgb(228, 80, 80),lightgreen,rgb(39, 36, 197),lightblue,rgb(187, 19, 19));
}
#button-2{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin-left: 150px;
    margin-top: 30px;
    background-color: orangered;
}
#button-2:hover{
    background-color:rgb(228, 80, 80) ;
    border-radius: 10px;
    transition: 0.5s;
}


/*-------section 3-----------*/

#sec3{
    display: flex;
    justify-content: space-between;
    margin-top: 18px
}
#schedule{
    margin-left: 100px;
}
#schedule a{
    text-decoration: none;
    font-size: 18px;
    
}

#form h3{
    color: green;
    font-size: 20px;
    font-weight: 700;

}

#form input, button{
    font-size: 18px;
    border: 2px solid green;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}
#form button{
    background-color:#377B00;
    font-weight:700px;
    color:white;
}
#form{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
#form p{
    font-size: 12px;
    font-weight: 200;
}
#sec3:hover{
    background-color: #F1F8E5;
}





/*-------------------footer section------------*/
/*----------------------------------------------*/

footer{
    text-align: center;
    margin-top: 35px;
}

footer img{
    width: 485px;
    height: 110;
}

.font-aw a{
    font-size: 30px;
    padding: 8px;
}
footer p{
    font-size: 18px;
}




/*-----------------------------------------------------
-------------------------media query--------------------*/

/*-------mobile-devices---*/


@media only screen and (max-width:768px){
    .body{
        width: 100%;
    }
    #top-sec{
        background-repeat: repeat;
    }
    #top-sec-div{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
       
    }
    #img-div{
        width: 300px;
        height: 200px;
    }
    top-sec-img{
        width: 280px;
        height: 180px;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-left: 100px;
    }
    #top-section-title{
        font-size: 16px;

    }
    #container{
        height: 100%;
        width: 100%;
    }
}